<section class="class_container">
     <div class="titoli_section">
        <h1> COME FUNZIONA? </h1>
        <h5> Dal caos alla chiarezza in soli 3 step </h5>
     </div>

         <div class="principale_container">

            <div class="imgsection">
                <div class="imgsectionin">
                    <img src="static/images/punto_interrogativo.jpg" alt="punto_interrogativo_calcio">
                </div>
                    <h3> IL PROBLEMA: </h3>
                    <p> "Fuorigioco!!", "Rigoreee!!", "Si è buttato!", "Rossooo!!". 
                Ogni partita finisce quasi SEMPRE nel caos delle opinioni soggettive. 
                Urla, dubbi e polemiche da bar oscurano spesso la verità sportiva.
                    </p>
            </div>

            <div class="imgsection">
                <div class="imgsectionin">
                    <img src="static/images/discutere_decisione.jpg" alt="discutere_decisione">
                </div>
                    <h3> LA SOLUZIONE: </h3>
                    <p> AfterVar porta la moviola nelle tue mani. 
                Una piattaforma digitale dedicata dove gli episodi dubbi vengono isolati e 
                pronti per essere analizzati con calma e freddezza.
                   </p>
            </div>

            <div class="imgsection">
                <div class="imgsectionin">
                    <img src="static/images/giudizio.jpg" alt="giudizio_decisione">
                </div>
                    <h3> IL GIUDIZIO: </h3>
                    <p> Tocca a te estrarre il cartellino. 
                Vota la decisione corretta, confrontati con la community e scopri 
                se il tuo senso del Fair Play corrisponde a quello degli altri.
                   </p>
            </div>

         </div>
 </section>